<ion-view title="Competencias" id="page1" style="background-color:#F2F2F2;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select" name="state">
                <span class="input-label">Filtrar por</span>
                <select>
                    <option>Competencias en curso</option>
                    <option>Competencias finalizadas</option>
                    <option>Próximas Competencias</option>
                </select>
            </label>
        </form>
        <a ui-sref="projects({ competitionId: competition._id })" ng-repeat="competition in competitions" style="text-decoration: none;">
            <div class="list card te-card">
                <div class="item item-body">
                    <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                        <img class="icon full-image" ng-src="{{ competition.thumbnail }}" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;">
                    </div>
                    <div class="te-card-information">
                        <h1 id="competencias-heading1">{{ competition.name }}</h1>
                        <div id="competencias-markdown1">
                            <p>
                                {{ competition.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </ion-content>
</ion-view>