<ion-view title="Proyectos" id="page3" style="background-color:#F2F2F2;">
    <ion-content padding="true" class="has-header">
        <a ui-sref="vote({ competitionId: competition._id })" id="proyectos-button2" style="border-radius:7px 7px 7px 7px;" class="button button-energized  icon-left ion-ios-checkmark">Votar</a>
        <h1 class="project-title" id="proyectos-heading7">{{ competition.name }}</h1>
        <div id="proyectos-markdown7">
            <p>{{ competition.description }}</p>
        </div>
        <form class="list">
            <label class="item item-select" name="project_filtrer">
                <span class="input-label">Categoría</span>
                <select ng-model="search.tag">
                    <option value="">Todas</option>
                    <option value="5728a2103a57ce227e0171cc">Nuevas Tecnologías</option>
                    <option value="5728a2073a57ce227e0171cb">Otros Productos y Servicios Innovadores</option>
                    <option value="5728a1f33a57ce227e0171ca">Productos y Servicios Eco-amigables</option>
                </select>
            </label>
        </form>
        <ion-list>
            <div class="projects">
                <a ui-sref="project({ projectId: project._id })" ng-repeat="project in projects | filter: search" style="text-decoration: none;">
                    <div class="list card te-card project-card">
                        <div class="item item-body">
                            <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                                <img class="icon" ng-src="{{ project.thumbnail }}" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle; max-width: 100%">
                            </div>
                            <div class="te-card-information">
                                <h1 id="proyectos-heading3">{{ project.name }}</h1>
                                <div id="proyectos-markdown3">
                                    <p>{{ project.short_description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="30%"></ion-infinite-scroll>
    </ion-content>
</ion-view>