<ion-view title="Votar" style="background-color:#F2F2F2;">
    <ion-content padding="true" class="has-header">
        <div class="vote-card" ng-repeat="project in competition.projects" ng-class="{'selected' : project._id === selectedProject._id }" ng-click="selectProject($index)">
            <img ng-src="{{ project.thumbnail }}">
            <h1>{{ project.name }}</h1>
        </div>
    </ion-content>
    <button ng-click="vote()" ng-if="selectedProject" class="button button-positive icon-left ion-ios-checkmark vote-button">Votar por {{ selectedProject.name }}</button>
</ion-view>